@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');
@import url('normalize.css');
@import url('base.css');

:root {
    --maincolor: 124, 40, 99;
    --textcolor: white;
}
html {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
}
h2 {
    font-size: 20px;
    font-weight:bold;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(var(--maincolor));
    color: white;
    border: none;
    text-align: center;
}
.cards1 img, .cards2 img {
    width: 40px;
}

/************ HEADER *************/
header {
    background: linear-gradient(90deg, rgba(var(--maincolor),0.4) 0%, rgba(0,0,0,0) 100%), url(../img/fitness.jpg);
    color: var(--textcolor);
    padding: 10px 20px 50px 20px;
    background-size: cover;
    background-position: top;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img {
    height: 35px;
}
header nav ul {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
header div {
    text-align: center;
    margin: 100px 0;
}
header h1 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
}
header h2 {
    margin-top: 0;
}

/***********PROGRAMMES***********/
#programmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translate(0, -70px);
    margin-bottom: 30px;
}
#programmes article:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fitnessman.jpg);
}
#programmes article:nth-child(2) {
    background-image:linear-gradient(rgba(var(--maincolor),0.5), rgba(var(--maincolor),0.5)), url(../img/fitnesswoman.jpg);
}
#programmes article {
    width: 50%;
    min-width: 400px;
    aspect-ratio: 16/9;
    text-align: center;
    background-position: center;
    background-size: cover;
    color: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 10px;
}
#programmes h2 {
    text-transform: uppercase;
}

/***********OBJECTIFS***********/
#objectifs {
    text-align: center;
    padding-bottom: 50px;
}

/***********PRESTATIONS***********/
#prestations {
    margin-bottom: 0;
}
#prestations ul.cards1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
#prestations ul.cards1 li {
    width: 100%;
    text-align: center;
    border-top: 1px #e9e9e9 solid;
    padding: 40px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#prestations ul.cards1 li:not(li:last-child) {
    border-right: 1px #e9e9e9 solid;
}

#prestations article {
    background-color: black;
    display: flex;
    color: white;
}
#prestations div:first-of-type {
    width: 55%;
    background-image: 
        linear-gradient(
            90deg, 
            rgba(var(--maincolor),0.4), 
            rgba(var(--maincolor),0.2)
        ),
        url(../img/crossfit.jpg);
    background-size: 100% cover;
}
#prestations div:nth-child(2) {
    width: 45%;
    padding: 40px 25px 60px 30px;
}
#prestations div p {
    width: 75%;
}
#prestations div h2 {
    transform: translate(-100px);
}

#prestations ul.cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
#prestations ul.cards2 li {
    width: calc(100% / 3);
    text-align: center;
    padding: 40px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#prestations ul.cards2 li:nth-of-type(odd) {
    background-color: #e9e9e9;
}

#prestations iframe {
    width: 100%;
    height: 450px;
}

/***********FOOTER***********/
footer {
    background-color: black;
    color: white;
    border-top: 10px rgb(var(--maincolor)) solid;
    font-size: 1.3rem;
}
footer .container {
    display: flex;
    justify-content: center;
}

footer .container>div:first-of-type {
    width: calc((100% - 450px)/2);
    text-align: right;
    padding: 20px;
}
footer .container>div:first-of-type img {
    height: 50px;
}
footer .container>div:first-of-type i {
    font-size: 2.5rem;
    margin-left: 15px;
}

footer .container>div:nth-of-type(2) {
    width: 450px;
    height: 450px;
    text-align: center;
    padding: 40px;
    background-color: white;
    color: black;
    transform: translateY(-100px);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}
footer .container>div:nth-of-type(2) h2 {
    text-transform: uppercase;
}
footer .container>div:nth-of-type(2) form {
    padding: 30px 0;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .container>div:nth-of-type(2) form input:not([type="submit"]) {
    border: none;
    border-bottom: 1px black solid;
    height: 40px;
    text-indent: 5px;
    font-weight: bold;
}
footer .container>div:nth-of-type(2) form .btn {
    width: fit-content;
    margin: 0 auto;
    padding: 20px 30px;
}

footer .container>div:nth-of-type(3) {
    width: calc((100% - 450px)/2);
    text-align: left;
    padding: 20px;
}
footer .container>div:nth-of-type(3) li {
    display: flex;
}
footer .container>div:nth-of-type(3) h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1rem;
}
footer .container>div:nth-of-type(3) i {
    position: relative;
    font-size: 1.6rem;
    left: -10px;
    color: rgb(var(--maincolor));
    padding: 0 10px;
}
