@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');
@import url('normalize.css');
@import url('base.css');

:root {
    --maincolor: 124, 40, 99;
    --textcolor: white;
}
html {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
}
h2 {
    font-size: 20px;
}
.btn {
    display: inline-block;
    padding: 10px;
    background-color: rgb(var(--maincolor));
}

/************ HEADER *************/
header {
    background: linear-gradient(90deg, rgba(var(--maincolor),0.4) 0%, rgba(0,0,0,0) 100%), url(../img/fitness.jpg);
    color: var(--textcolor);
    padding: 10px 20px 50px 20px;
    background-size: cover;
    background-position: top;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img {
    height: 35px;
}
header nav ul {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
header div {
    text-align: center;
    margin: 100px 0;
}
header h1 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
}
header h2 {
    margin-top: 0;
}